@charset "utf-8";

body, html {width:100%;margin:0;padding:0;font-family: 'Spoqa Han Sans', sans-serif;font-weight: 400;}
html {font-size:1em;height:100%;}
body {height:100%;font-size:0.875em;color:#666;font-family: 'Spoqa Han Sans', sans-serif;font-weight: 400;overflow-y:scroll;}
div,p,h1,h2,h3,h4,h5,h6,
section, article, aside, footer, figure, figcaption, nav,
ul,ol,li,dl,dt,dd,
table,tr,thead,tbody,tfoot,td,th,
a,span,strong,em,i,img,address,
form,fieldset,legend,
input,textarea,select,label,button,
iframe {margin:0;padding:0;font-size:1em;}
h1, h2, h3, h4, h5, h6 {font-weight:normal;line-height:1;}
input, button, select, textarea,pre {font-family:'Spoqa Han Sans', sans-serif;font-size:1em;box-sizing:border-box;outline:none;-webkit-appearance:none;-moz-appearance:none;-o-appearance:none;appearance:none;font-weight: 400;}
code, pre {font-size:1em;}
address, em, cite {font-style:normal;}
img {border:0 none;vertical-align:top;}
hr {display:none;}
strong {font-weight:700;}
table {border-collapse:collapse;border-spacing:0;table-layout:fixed;}
caption, legend {overflow:hidden; visibility:hidden; width:0;height:0;font-size:0;line-height:0;}
th, td {font-weight:normal;}
li {list-style-type:none;}
fieldset {border:0 none;}
label, button {cursor:pointer;}
button {overflow:visible;margin:0;padding:0;border:none;background:none;cursor:pointer;}
button::-moz-focus-inner {border:0;padding:0;}
button {overflow:visible;border:none;background:none;background:transparent;vertical-align:top;font-family:inherit;white-space:nowrap;text-decoration:none;}
p {line-height:1.4;letter-spacing:-0.03em;}
a {color:#666;text-decoration:none;}
a:hover, a:focus, a:active {color:#666;text-decoration:none;}
::-webkit-input-placeholder {color:#999 !important;line-height:normal !important;padding-top:10px;}
::-moz-placeholder {color:#999 !important;}
:-ms-input-placeholder {color:#999 !important;}
input:-moz-placeholder {color:#999 !important;}
.hidden {position:absolute !important;left:-9000px !important;width:0;height:0;font-size:0;line-height:0;overflow:hidden;}


@font-face {
  font-family: 'NotoSansKR-Thin';
  font-style: normal;
  font-weight: 100;
  src: url('font/NotoSansKR-Thin.woff2') format('woff2'),
       url('font/NotoSansKR-Thin.woff') format('woff'),
       url('font/NotoSansKR-Thin.otf') format('opentype');
}



@font-face {
    font-family: 'Spoqa Han Sans';
    font-weight: 700;
    src: url('font/SpoqaHanSansBold.woff2') format('woff2'),
    url('font/SpoqaHanSansBold.woff') format('woff'),
    url('font/SpoqaHanSansBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Spoqa Han Sans';
    font-weight: 400;
    src:  url('font/SpoqaHanSansRegular.woff2') format('woff2'),
          url('font/SpoqaHanSansRegular.woff') format('woff'),
          url('font/SpoqaHanSansRegular.ttf') format('truetype');
}

@font-face {
    font-family: 'Spoqa Han Sans';
    font-weight: 300;
    src: url('font/SpoqaHanSansLight.woff2') format('woff2'),
         url('font/SpoqaHanSansLight.woff') format('woff'),
         url('font/SpoqaHanSansLight.ttf') format('truetype');
}


@font-face {
	font-family: 'NotoSerif-CondensedItalic';
	font-weight: normal;
	font-style: italic;
     src: url('font/NotoSerif-CondensedItalic.woff2') format('woff2'),
          url('font/NotoSerif-CondensedItalic.woff') format('woff'),
          url('font/NotoSerif-CondensedItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'NotoSerif-CondensedBoldItalic';
	font-weight: 700;
	font-style: italic;
     src: url('font/NotoSerif-CondensedBoldItalic.woff2') format('woff2'),
          url('font/NotoSerif-CondensedBoldItalic.woff') format('woff'),
          url('font/NotoSerif-CondensedBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'NotoSerif-CondensedMedium';
	font-weight: normal;
     src: url('font/NotoSerif-CondensedMedium.woff2') format('woff2'),
          url('font/NotoSerif-CondensedMedium.woff') format('woff'),
          url('font/NotoSerif-CondensedMedium.ttf') format('truetype');
}
