@charset "utf-8";
@import "base.css";

/* layout */
#wrap {position:relative;min-width:360px;width:100%;height:100%;margin:0 auto;}

#wrap .inner {position:relative;width:100%;max-width:1200px;margin:0 auto;}
#header {position:relative;width:100%;max-width:1200px;margin:0 auto;z-index:9999;}
#header:after {content:'';display:block;clear:both;}
#header .logo {display:block;position:absolute;left:0;top:25px;width:127px;height:13px;background:url('../images/logo.png') no-repeat 0 0;font-size:0;line-height:0;}
#header .menu {display:none;}
#header .gnb {display:block;float:right;padding-top:25px;}
#header .gnb:after {content:'';display:block;clear:both;}
#header .gnb > li {float:left;}
#header .gnb > li > a {display:block;position:relative;margin-left:47px;font-size:18px;color:#fff;line-height:1;}
#header .gnb > li > a.on:before, #header .gnb > li > a:hover::before {content:'';display:block;position:absolute;left:0;right:0;bottom:-5px;height:1px;background:#fff;}
#header .gnb > li a.menu_close {display:none;}

#container {position:absolute;left:0;top:0;bottom:0;right:0;}
#container .content {width:1200px;margin:0 auto;}
#container.business, #container.contact {position:static;width:100%;/*background:url('../images/bg_business.jpg') no-repeat 50% 0;*/}
#container.business .content {display:block;width:1200px;margin:0 auto;padding:100px 0;}
#container.member .content {width:100%;max-width:1200px;padding:300px 0 170px;}

#footer {position:absolute;left:0;right:0;bottom:30px;font-size:12px;font-weight:300;color:#fff;opacity:0.8;text-align:center;} 
#footer.bottom {position:static !important;width:100%;height:101px;margin:0;background:#343434;font-size:12px;font-weight:300;color:#fff;text-align:center;line-height:101px;}

/* content */
.main {/*background:url('../images/bg_main.jpg') no-repeat 0 0 #000;background-size:cover;*/}
.about {background:url('../images/bg_about.jpg') no-repeat 50% 0 #000;background-size:cover;}
/*.contact {background:url('../images/bg_contact.jpg') no-repeat 50% 0 ;background-size:cover;}*/
.member {background:url('../images/bg_member.jpg') no-repeat 50% 0;}
.community {background:url('../images/bg_community.jpg') no-repeat 50% 0 #000;background-size:cover;}
.content h1 {position:relative;font-size:18px;font-style:italic;color:#fff;text-align:center;}

/* main */
/*.masthead-video {width:100% !important;}*/
.masthead-video{position: absolute; top: 50%; left: 50%;  min-width: 100%;  min-height: 100%;  width: auto;  height: auto;  transform: translateX(-50%) translateY(-50%); -webkit-transform: translateX(-50%)translateY(-50%); -ms-transform: translateX(-50%) translateY(-50%);}
.vjs-control-bar {display: none;}
.index_ment {display:table;width:580px;height:328px;position:absolute;left:50%;top:50%;margin:-164px 0 0 -290px;text-align:center;background:url('../images/bg_circle.png') no-repeat 50% 0;z-index:100;}
.index_ment span {display:table-cell;vertical-align:middle;font-size:30px;font-weight:700;color:#fff;line-height:1.6;}
.index_ment:before {content:'';display:block;position:absolute;left:-40px;top:74px;width:39px;height:29px;background:url('../images/icon_mark_01.png') no-repeat 0 0;}
.index_ment:after {content:'';display:block;position:absolute;right:30px;bottom:90px;width:39px;height:29px;background:url('../images/icon_mark_02.png') no-repeat 0 0;}
.index_ment_m {display:none;}

/* about */
.about #container .content {width:100%;max-width:1200px;}
.about .content {display:table;height:100%;}
.ani_wrap {display:table-cell;text-align:center;vertical-align:middle;}
.ani_wrap .logo_content {margin-bottom:40px;}
.ani_wrap h1 {font-family: 'NotoSerif-CondensedItalic';font-size:18px;color:#fff;opacity: 0;transform: translateX(15px);transition: all 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95) 0ms; }
.ani_wrap.current h1 {opacity: 1;transform: translateX(0);transition: all 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95) 400ms;}
.ani_wrap .logo_content {width:372px;height:78px;margin:0 auto;font-size:0;background:url('../images/logo_content.png') no-repeat 0 0;opacity: 0;transform: translateX(-15px);transition: all 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95) 0ms;}
.ani_wrap.current .logo_content {opacity: 1;transform: translateX(0);transition: all 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95) 400ms;}
.ani_wrap .ment {max-width:794px;margin:0 auto;font-size:18px;font-weight:300;color:#fff;opacity: 0;transform: translateX(15px);transition: all 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95) 0ms; }
.ani_wrap.current .ment {opacity: 1;transform: translateX(0);transition: all 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95) 400ms;}

/* business */
.business #wrap {}
.business #container .content {max-width:1200px;width:100%;}
.business_con {padding-top:89px;}
.bg_scale .mb_business{display:none;}
.bg_scale {position:relative;/*position:absolute;top:0;bottom:0;left:0;right:0;*/overflow:hidden;}
.bg_scale .pc_business {max-width:100%;width:100%;}
.bg_scale .pc_business {
	-ms-transform:scale(1);
	-webkit-transform:scale(1);
	-o-transform:scale(1);
	transform:scale(1);
	-ms-animation:bgScale 60s infinite ease-out;
	-webkit-animation:bgScale 60s infinite ease-out;
	-o-animation:bgScale 60s infinite ease-out;
	animation:bgScale 60s infinite ease-out;
}
@-ms-keyframes bgScale {
	0% { -ms-transform:scale(1.4); }
	50% { -ms-transform:scale(1); }
	100% { -ms-transform:scale(1.4); }
}
@-webkit-keyframes bgScale {
	0% { -webkit-transform:scale(1.4); }
	50% { -webkit-transform:scale(1); }
	100% { -webkit-transform:scale(1.4);}
}
@-o-keyframes bgScale {
	0% { -o-transform:scale(1.4); }
	50% { -o-transform:scale(1); }
	100% { -o-transform:scale(1.4);}
}
@keyframes bgScale {
	0% { transform:scale(1.4); }
	50% { transform:scale(1); }
	100% { transform:scale(1.4);}
}
.btn_scroll {position:absolute;left:50%;bottom:30px;width:24px;height:41px;margin-left:-12px;font-size:0;background:url('../images/btn_scroll.png') no-repeat 0 0;z-index:999;}

/*.business_ment {position:absolute;top:50%;left:50%;margin:-204px 0 0 -320px;width:640px;height:408px;background:url('../images/business_ment.png') no-repeat 0 0;font-size:0;}*/
.business_ment {position:absolute;top:0;bottom:0;left:0;right:0;text-align:center;}
.business_ment .img_wrap {display:table;width:100%;height:100%;vertical-align:middle;text-align:center;}
.business_ment span {display:table-cell;vertical-align:middle;}
.business_ment img {width:50%;max-width:640px;}

.ani_wrap.business_ment {opacity: 0;transform: translateY(50px);transition: all 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95) 0ms; }
.ani_wrap.current.business_ment {opacity: 1;transform: translateY(0);transition: all 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95) 400ms;}

.tit_business {position:relative;text-align:center;height:76px;}
.tit_business .stit {position:absolute;top:32px;left:0;font-family: 'NotoSerif-CondensedBoldItalic';color:#151515;}
.tit_business .number {display:block;position:absolute;top:0;left:50%;width:76px;margin-left:-38px;font-family: 'NotoSerif-CondensedBoldItalic';font-size:76px;color:#e5e5e5;line-height:1;z-index:-1;}
.tit_business .tit {font-family: 'NotoSansKR-Thin';font-weight:100;font-size:21px;color:#9c9c9c;letter-spacing:0.4em;line-height:76px;}

.list_partner {max-width:1000px;width:100%;margin:0 auto;padding:65px 0 95px;}
.list_partner > li {margin-top:47px;}
.list_partner > li:first-child {margin-top:0;}
.list_partner > li:after {content:'';display:block;clear:both;}
.list_partner .partner_logo {float:left;width:50%;}
.list_partner .partner_logo img {width:100%;}
.list_partner .partner_info {float:left;display:table;width:50%;height:302px;padding-left:78px;box-sizing:border-box;}

.partner_logo .logo_link {display:block;width:500px;height:302px;font-size:0;}
.partner_logo .logo_link.partner01 {background:url('../images/logo_partners_01.gif') no-repeat 0 0;}
.partner_logo .logo_link.partner01:hover {background:url('../images/logo_partners_01_on.gif') no-repeat 0 0;}
.partner_logo .logo_link.partner02 {background:url('../images/logo_partners_02.gif') no-repeat 0 0;}
.partner_logo .logo_link.partner02:hover {background:url('../images/logo_partners_02_on.gif') no-repeat 0 0;}
.partner_logo .logo_link.partner03 {background:url('../images/logo_partners_03.gif') no-repeat 0 0;}
.partner_logo .logo_link.partner03:hover {background:url('../images/logo_partners_03_on.gif') no-repeat 0 0;}
.partner_logo .logo_link.partner04 {background:url('../images/logo_partners_04.gif') no-repeat 0 0;}
.partner_logo .logo_link.partner04:hover {background:url('../images/logo_partners_04_on.gif') no-repeat 0 0;}
.partner_logo .logo_link.partner05 {background:url('../images/logo_partners_05.gif') no-repeat 0 0;}
.partner_logo .logo_link.partner05:hover {background:url('../images/logo_partners_05_on.gif') no-repeat 0 0;}
.partner_logo .logo_link.partner06 {background:url('../images/logo_partners_06.gif') no-repeat 0 0;}
.partner_logo .logo_link.partner06:hover {background:url('../images/logo_partners_06_on.gif') no-repeat 0 0;}

.partner_info .info_wrap {display:table-cell;vertical-align:middle;}
.partner_info p {font-size:16px;color:#393939;line-height:1.6;}
.partner_info .tit {position:relative;margin-bottom:5px;font-family: 'NotoSerif-CondensedBoldItalic';font-size:16px;color:#000;line-height:1;}
.partner_info .tit:before {content:'';display:block;position:absolute;left:0;top:-9px;width:20px;height:2px;background:#a2a2a2;}

/* contact */
#container.contact .content {display:block;width:100%;max-width:1200px;margin:0 auto;padding:100px 0;}
.contact {background:#0f1d30;}
.contact #container {position:static;}
.contact #footer {position:static;padding-bottom:30px;}
.bg_contact {position:relative;width:100%;padding-top:729px;}

.contact_ment {max-width:1200px;height:780px;margin:97px auto 0;background:url('../images/bg_contact.jpg') no-repeat 0 0;}
.contact_ment:after {content:'';display:block;clear:both;}
.contact h1 {font-family: 'NotoSerif-CondensedItalic';font-size:18px;color:#fff;text-align:center;}
.contact h2 {padding-top:20px;font-family: 'NotoSerif-CondensedItalic';font-size:24px;color:#fff;text-align:center;line-height:1;}
.contact_box {float:right;width:490px;height:427px;margin:116px 0 0 0;padding:48px 0 0 50px;background:rgba(0,0,0,0.3);box-sizing:border-box;}
.contact_box p {font-weight:300;font-size:18px;color:#fff;}
.contact_box .btn_map {display:block;width:110px;height:38px;margin:14px 0 50px;border:1px solid #fff;background:transparent;font-weight:400;color:#fff;line-height:36px;text-align:center;box-sizing:border-box;}
.contact_box .btn_map:hover {background:#fff;color:#0a1422;}
.contact_box dl {}
.contact_box dl dt {font-family: 'NotoSerif-CondensedItalic';font-size:12px;color:#fff;}
.contact_box dl dd {padding-bottom:24px;font-weight:300;font-size:18px;color:#fff;}
.contact_write {}
.contact_write dt {margin:42px 0 19px;font-family: 'NotoSerif-CondensedBoldItalic';font-size:18px;color:#000;}
.contact_write dd {}
.contact_write dd .txt {display:block;width:100%;height:75px;padding:0 10px;border:1px solid #000;background:#fff;line-height:75px;}
.contact_write dd textarea.txt {height:305px;padding:10px;line-height:1.4;}
.btn_area {padding-top:47px;text-align:right;}
.btn_submit {display:inline-block;width:180px;height:65px;padding:18px 0;border:2px solid #343434;background:#fff;font-size:24px;color:#343434;line-height:1;text-align:center;box-sizing:border-box;}
.btn_submit:hover {background:#343434;color:#fff;}

/* member */
/*.member_responsive #header,*/ .member_responsive #container {/*min-width:1200px;*/}


.member h1 {margin-bottom:58px;font-family: 'NotoSerif-CondensedBoldItalic';font-size:14px;color:#151515;text-align:center;}
.member_list_wrap {padding-bottom:80px;}
.member_wrap {max-width:1086px;width:100%;margin:0 auto 85px;}
.member_wrap:after {content:'';display:block;clear:both;}
/*.member_box {float:left;width:350px;margin-left:18px;}*/
.member_box {float:left;width:33.33%;padding:0 9px;box-sizing:border-box;}
.member_box:first-child {margin-left:0;}
.member_box .img img {max-width:350px;height:auto;}
.member_box .member_position {display:block;margin:15px 0 11px;font-size:16px;color:#000;line-height:1.4;}
.member_box .member_name {font-family: 'NotoSerif-CondensedMedium';font-size:20px;color:#000;line-height:1;}
.member_box .img {position:relative;z-index:10;}
.member_box .img .profile_box {display:none;position:absolute;top:0;bottom:0;left:0;right:0;text-align:center;max-width:350px;background:rgba(15,29,48,0.7);z-index:20;}
.member_box:hover .profile_box {display:block;cursor:pointer;}
.profile_box .tit {display:block;padding:60px 0 5px;font-family: 'NotoSerif-CondensedItalic';color:#fff;line-height:1;}
.profile_box p {font-size:16px;color:#fff;line-height:1.75;}
.profile_box .education {padding-top:26px;}

#memList01 .member_box {opacity: 0;transform: translateY(120px);transition: all 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95) 0ms; }
#memList01 .member_box:nth-child(1) {transform: translateY(120px);}
#memList01 .member_box:nth-child(2) {transform: translateY(125px);}
#memList01 .member_box:nth-child(3) {transform: translateY(130px);}

#memList01.current .member_box {opacity: 1;transform: translateY(0);transition: all 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95) 400ms;}
#memList01.current .member_box:nth-child(1) {transition: all 400ms cubic-bezier(0.445, 0.05, 0.55, 0.95) 400ms;}
#memList01.current .member_box:nth-child(2) {transition: all 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95) 500ms;}
#memList01.current .member_box:nth-child(3) {transition: all 600ms cubic-bezier(0.445, 0.05, 0.55, 0.95) 600ms;}

.fadeinbottom {opacity:0;}
.fadeinbottom .member_box {opacity: 0;transform: translateY(120px);transition: all 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95) 0ms;}
.fadeinbottom .member_box:nth-child(1) {transform: translateY(120px);}
.fadeinbottom .member_box:nth-child(2) {transform: translateY(125px);}
.fadeinbottom .member_box:nth-child(3) {transform: translateY(130px);}
.fadeinbottom.show .member_box {opacity: 1;transform: translateY(0);transition: all 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95) 400ms;}
.fadeinbottom.show .member_box:nth-child(1) {transition: all 400ms cubic-bezier(0.445, 0.05, 0.55, 0.95) 400ms;}
.fadeinbottom.show .member_box:nth-child(2) {transition: all 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95) 500ms;}
.fadeinbottom.show .member_box:nth-child(3) {transition: all 600ms cubic-bezier(0.445, 0.05, 0.55, 0.95) 600ms;}
.logo_member {text-align:center;}

@media all and (min-width: 769px) and (max-width:1280px) {
	.member_box {width:50%;padding:0 9px;box-sizing:border-box;}
}


/* Mobile */
body.landscape #header .gnb {}
body.landscape #header .gnb > li {padding:15px 0;}

@media all and (min-width: 769px) {
	#header .gnb {display:block !important;}
}


@media all and (max-width: 768px) {
	#wrap {background:none !important;}
	#header {height:60px;background:#0f1d30;}
	#header.fixed {display:table;height:100%;}
	#header .logo {display:block;position:absolute;left:50%;top:24px;width:127px;height:13px;margin-left:-64px;background:url('../images/logo_m.png') no-repeat 0 0;background-size:100% 100%;}
	#header .menu {display:block;position:absolute;right:15px;top:20px;width:20px;height:20px;background:url('../images/icon_menu_m.png') no-repeat 0 0;font-size:0;line-height:0;background-size:100% 100%;}
	#header nav {position:absolute;top:0;bottom:0;left:0;right:0;}
	#header .gnb {display:none;float:none;padding-top:0;text-align:center;vertical-align:middle;}
	#header .gnb > li {float:none;padding:30px 0;}
	#header .gnb > li a {margin-left:0;font-size:21px;font-weight:700;color:#fff;}
	#header .gnb > li a:hover, .gnb_wrap .gnb > li a:focus {color:#5afff1;}
	#header .gnb > li > a.on:before, #header .gnb > li > a:hover::before {display:none;}
	#header .gnb > li a.menu_close {overflow:hidden;display:block;width:40px;height:40px;margin:0 auto;background:url('../images/icon_close_m.png') no-repeat 0 0;background-size:100% 100%;font-size:0;}
	
	#container .content {display:table;width:100%;height:100%;padding:0;position:relative;box-sizing:content-box;}
	#container.business {position:static;background:url('../images/bg_business_m.jpg') no-repeat 0 0;background-size:100% 120px;}
	#container.business .content {padding:0;}
	#footer {bottom:19px;font-size:10px;} 
	#footer.bottom {height:35px;font-size:11px;line-height:35px;}

	.main {background:url('../images/bg_main_m.jpg') no-repeat 0 0 #000;background-size:100% 100%;}
	.about {background:url('../images/bg_about_m.jpg') no-repeat 0 0 #000;background-size:cover;}
	.contact {background:url('../images/bg_contact_m.jpg') no-repeat 0 100% #0f1d30;background-size:cover;}
	.member {background:url('../images/bg_member_m.jpg') no-repeat 0 0;background-size:contain;}
	
	.content h1 {position:relative;padding-bottom:12px;font-size:12px;text-align:center;}

	/* main */
	.index_ment {display:none;}
	.index_ment_m {display:table;width:280px;height:265px;position:absolute;left:50%;top:50%;margin:-133px 0 0 -140px;text-align:center;background:url('../images/bg_circle_m.png') no-repeat 50% 0;background-size:262px 265px;z-index:100;}
	.index_ment_m span {display:table-cell;vertical-align:middle;font-size:17px;font-weight:700;color:#fff;line-height:1.6;}
	.index_ment_m:before {content:'';display:block;position:absolute;left:50%;top:68px;width:20px;height:15px;margin-left:-10px;background:url('../images/icon_mark_01_m.png') no-repeat 0 0;background-size:100% 100%;}
	.index_ment_m:after {content:'';display:block;position:absolute;left:50%;bottom:63px;width:20px;height:15px;margin-left:-10px;background:url('../images/icon_mark_02_m.png') no-repeat 0 0;background-size:100% 100%;}
	
	/* about */
	.ani_wrap {margin-top:0;text-align:center;}
	.ani_wrap .logo_content {width:223px;height:46px;background:url('../images/logo_content_m.png') no-repeat 0 0;background-size:223px 46px;}
	.ani_wrap .ment {max-width:74%;margin-top:28px;font-weight:300;font-size:15px;}

	/* business */
	.business #wrap {min-width:360px;}
	.business #container .content {max-width:100%;width:100%;}
	.business_con {padding-top:0;}
	.bg_scale .pc_business {display:none;}
	.bg_scale .mb_business{max-width:100%;width:100%;display:block;}
	.bg_scale {position:relative;overflow:hidden;}
	.bg_scale .mb_business {
		-ms-transform:scale(1);
		-webkit-transform:scale(1);
		-o-transform:scale(1);
		transform:scale(1);
		-ms-animation:bgScale 60s infinite ease-out;
		-webkit-animation:bgScale 60s infinite ease-out;
		-o-animation:bgScale 60s infinite ease-out;
		animation:bgScale 60s infinite ease-out;
	}
	@-ms-keyframes bgScale {
		0% { -ms-transform:scale(1.4); }
		50% { -ms-transform:scale(1); }
		100% { -ms-transform:scale(1.4); }
	}
	@-webkit-keyframes bgScale {
		0% { -webkit-transform:scale(1.4); }
		50% { -webkit-transform:scale(1); }
		100% { -webkit-transform:scale(1.4);}
	}
	@-o-keyframes bgScale {
		0% { -o-transform:scale(1.4); }
		50% { -o-transform:scale(1); }
		100% { -o-transform:scale(1.4);}
	}
	@keyframes bgScale {
		0% { transform:scale(1.4); }
		50% { transform:scale(1); }
		100% { transform:scale(1.4);}
	}

	.business_ment {position:absolute;top:50%;left:50%;margin:-174px 0 0 -122px;width:244px;height:349px;background:url('../images/business_ment_m.png') no-repeat 0 0;background-size:100% 100%;font-size:0;}
	.btn_scroll {display:none;}
	.business #container {position:static;}
	.business #container .content {display:block;width:100%;padding-top:35px;}
	
	.business_ment .img_wrap {display:none;}
	
	
	.tit_business {height:auto;}
	.tit_business .stit {display:block;position:static;font-size:11px;}
	.tit_business .number {top:auto;bottom:0;width:38px;margin-left:-19px;font-size:38px;color:#e5e5e5;}
	.tit_business .tit {display:block;font-size:14px;color:#9c9c9c;line-height:38px;letter-spacing:0.2em;}

	.list_partner {width:100%;padding:18px 15px 45px;box-sizing:border-box;}
	.list_partner > li {margin-top:35px;}
	.list_partner .partner_logo {float:none;width:100%;margin-right:0;margin-bottom:25px;}
	.list_partner .partner_logo img {width:100%;height:auto;}
	.list_partner .partner_info {float:none;display:block;width:100%;height:auto;padding-left:0;}

	.partner_logo .logo_link {display:block;width:250px;height:151px;margin:0 auto;font-size:0;}
	.partner_logo .logo_link.partner01 {background:url('../images/logo_partners_01.gif') no-repeat 0 0;background-size:100% 100%;}
	.partner_logo .logo_link.partner01:hover {background:url('../images/logo_partners_01_on.gif') no-repeat 0 0;background-size:100% 100%;}
	.partner_logo .logo_link.partner02 {background:url('../images/logo_partners_02.gif') no-repeat 0 0;background-size:100% 100%;}
	.partner_logo .logo_link.partner02:hover {background:url('../images/logo_partners_02_on.gif') no-repeat 0 0;background-size:100% 100%;}
	.partner_logo .logo_link.partner03 {background:url('../images/logo_partners_03.gif') no-repeat 0 0;background-size:100% 100%;}
	.partner_logo .logo_link.partner03:hover {background:url('../images/logo_partners_03_on.gif') no-repeat 0 0;background-size:100% 100%;}
	.partner_logo .logo_link.partner04 {background:url('../images/logo_partners_04.gif') no-repeat 0 0;background-size:100% 100%;}
	.partner_logo .logo_link.partner04:hover {background:url('../images/logo_partners_04_on.gif') no-repeat 0 0;background-size:100% 100%;}
	.partner_logo .logo_link.partner05 {background:url('../images/logo_partners_05.gif') no-repeat 0 0;background-size:100% 100%;}
	.partner_logo .logo_link.partner05:hover {background:url('../images/logo_partners_05_on.gif') no-repeat 0 0;background-size:100% 100%;}
	.partner_logo .logo_link.partner06 {background:url('../images/logo_partners_06.gif') no-repeat 0 0;background-size:100% 100%;}
	.partner_logo .logo_link.partner06:hover {background:url('../images/logo_partners_06_on.gif') no-repeat 0 0;background-size:100% 100%;}
	
	.partner_info .info_wrap {display:block;vertical-align:middle;}
	.partner_info p {padding:0 40px;font-size:12px;line-height:1.6;text-align:left;}
	.partner_info .tit {margin:0 40px 5px 40px;font-size:12px;}
	.partner_info .tit:before {top:-5px;width:10px;height:1px;}

	/* contact */
	.contact #container {padding-top:22px;}
	#container.contact .content {width:100%;height:auto;margin-top:360px;padding:0 0 105px;background:#fff;}
	.contact #footer {position:absolute;padding-bottom:0;}
	.bg_contact {display:none;position:relative;overflow:hidden;}
	.contact_ment {position:static;width:100%;height:auto;margin:0;background:none;}
	.contact_ment:after {content:'';display:block;clear:both;}
	.contact h1 {font-size:12px;color:#fff;text-align:center;}
	.contact h2 {display:none;}
	.contact_box {float:none;width:330px;height:auto;margin:27px auto 0;padding:36px 22px 21px;}	
	.contact_box p {font-size:12px;}
	.contact_box .btn_map {float:right;width:96px;height:37px;margin:32px 0 27px;line-height:37px;}
	.contact_box dl {clear:both;}
	.contact_box dl dd {padding-bottom:15px;font-size:12px;}
	.contact_write {padding:0 37px;}
	.contact_write dt {margin:40px 0 11px;font-size:12px;line-height:1;}
	.contact_write dd {}
	.contact_write dd .txt {height:38px;padding:0 10px;line-height:38px;}
	.contact_write dd textarea.txt {height:180px;}
	.btn_area {padding-top:30px;text-align:center;}
	.btn_submit {display:inline-block;width:90px;height:32px;padding:10px 0;border:1px solid #343434;font-size:12px;}

	/* member */
	.member_responsive #header, .member_responsive #container {min-width:360px;}
	#container.member {position:static;}
	.member h1 {margin-bottom:40px;padding-bottom:0;font-size:12px;}
	.member_list_wrap {padding-bottom:80px;}

	.member_wrap {width:100%;margin:0 auto;padding:0 40px;box-sizing:border-box;}
	.member_wrap:after {content:'';display:block;clear:both;}
	.member_box {float:none;width:100%;margin-left:0;}
	.member_box:first-child {margin-left:0;}
	.member_box .img {width:280px;height:auto;margin:0 auto;}
	.member_box .img img {max-width:280px;height:auto;}
	.member_box h2 {width:280px;margin:0 auto 40px;}
	.member_box .member_position {display:block;margin:15px 0 11px;font-size:16px;color:#000;line-height:1;}
	.member_box .member_name {font-family: 'NotoSerif-CondensedMedium';font-size:20px;color:#000;line-height:1;}

	#container.member .content {padding:30% 0 100px;}

	.fadeinbottom {opacity:1;}
	.fadeinbottom .member_box {opacity:0;}
	.fadeinbottom .member_box:nth-child(1) {transform: translateY(60px);}
	.fadeinbottom .member_box:nth-child(2) {transform: translateY(60px);}
	.fadeinbottom .member_box:nth-child(3) {transform: translateY(60px);}

	.member_box {opacity:0;}
	.member_box {opacity: 0;transform: translateY(60px);transition: all 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95) 0ms;}
	.member_box.show {opacity: 1 !important;transform: translateY(0) !important;transition: all 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95) 200ms !important;}
	.member_box.current {opacity: 1 !important;transform: translateY(0) !important;transition: all 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95) 200ms !important;}

	#memList01 .member_box {opacity: 0;transform: translateY(60px);transition: all 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95) 0ms; }
	#memList01 .member_box:nth-child(1) {transform: translateY(60px);}
	#memList01 .member_box:nth-child(2) {transform: translateY(60px);}
	#memList01 .member_box:nth-child(3) {transform: translateY(60px);}
	.logo_member img {width:50%;height:auto;}

	.profile_box .tit {display:block;padding:50px 0 10px;font-size:11px;}
	.profile_box p {font-size:13px;}
	.profile_box .education {padding-top:26px;}
}

@media all and (min-width: 1280px) and (max-width:1366px) {
	/* about */
	.about .ani_wrap {margin-top:138px;}
}